@model HayvanBarinagi.Models.SahiplendirmeBasvurulari

<!DOCTYPE html>
<html>
<head>
    <title>Sahiplendirme Başvurusu Düzenle</title>
</head>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f7f8fa; 
    }

    .container {
        background-color: white; 
        padding: 30px; 
        border-radius: 15px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
</style>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">@_localization.Getkey("EditAdoptionApplication")</h2>
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label for="HayvanId" class="form-label">@_localization.Getkey("AnimalID").Value:</label>
                <input asp-for="HayvanId" class="form-control" id="HayvanId" readonly />
            </div>

            <div class="mb-3">
                <label for="Ad" class="form-label">@_localization.Getkey("Name").Value:</label>
                <input asp-for="Ad" class="form-control" id="Ad" required>
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Soyad" class="form-label">@_localization.Getkey("Surname").Value:</label>
                <input asp-for="Soyad" class="form-control" id="Soyad" required>
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Telefon" class="form-label">@_localization.Getkey("Phone").Value:</label>
                <input asp-for="Telefon" class="form-control" id="Telefon" required>
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Eposta" class="form-label">@_localization.Getkey("Email").Value:</label>
                <input asp-for="Eposta" class="form-control" id="Eposta" required>
                <span asp-validation-for="Eposta" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Adres" class="form-label">Adres:</label>
                <textarea asp-for="Adres" class="form-control" id="Adres" rows="4" required></textarea>
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Aciklama" class="form-label">@_localization.Getkey("Explanation").Value</label>
                <textarea asp-for="Aciklama" class="form-control" id="Aciklama" rows="6" required></textarea>
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">@_localization.Getkey("SubmitApplication").Value</button>
        </form>
    </div>
</body>
</html>
