@model HayvanBarinagi.Models.Hayvan

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        .box {
            max-width: 900px;
            margin: auto;
            text-align: left;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 10px;
            padding: 20px;
        }

  
        h1, h3, h4 {
            color: black;
        }


        .btn {
            border-radius: 25px;
            font-weight: bold;
            padding: 10px 20px;
            transition: background-color 0.2s, color 0.2s;
        }


        .btn-custom {
            background-color: white;
            border: 1px solid black;
            color: black;
        }

            .btn-custom:hover {
                background-color: black;
                color: white;
            }

        .btn-delete:hover {
            background-color: #ff0000;
            color: white;
        }

        dt {
            color: black;
            font-weight: bold;
        }

        dd {
            color: black;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>Silmek İstediğinizden Emin Misiniz ?</h1>
        <div>
            <h4>Silinecek Hayvanın Bilgileri</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tur)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tur)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResimUrl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ResimUrl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Aciklama)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Aciklama)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Sil" class="btn btn-custom btn-delete" />
                <a asp-action="Index" class="btn btn-custom">Geri Dön</a>
            </form>
        </div>
    </div>
</body>
</html>
